@import "animations";

$lightest_color: #ff9797;
$light_color: #ff6060;
$lighter_color: #f33e3e;
$mid_color: #df2929;
$darker_color: #ce2a2a;
$dark_color: #ad0e0e;

$bg_color1: #ffffff;
$bg_color2: #f1f1f1;
$dark_bg_color: #343a40;

$dark_text_color: #535353;

:root {
    --swiper-theme-color: #ececec;
}

html,
body {
    margin: 0;
}

html,
body,
input {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

::selection {
    background: $mid_color;
    color: white;
}

.main-wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

a.button {
    display: inline-block;
    z-index: 1;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: 1px white solid;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease-out;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: white;
        transform-origin: bottom;
        transform: scaleY(0);
        transition: transform 0.3s ease-out;
    }

    &:hover {
        color: $mid_color;
        &::before {
            transform: scaleY(1);
        }
    }
}

$vinyl_size: 160px;
$header_height: 60px;

.main-header {
    height: $header_height;
    background: $mid_color;
    font-size: 0;
    z-index: 10;

    .main-wrapper {
        height: 100%;
        z-index: 10;
    }

    .left-side,
    .right-side {
        float: left;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        z-index: 11;
    }

    .left-side {
        padding: ($header_height - 18px - 20px) / 2;
        padding-right: $vinyl_size / 2 + 5px;
        display: flex;
    }

    .right-side {
        padding-left: $vinyl_size / 2 + 5px;
    }

    h1 {
        line-height: 38px;
        position: relative;
        text-align: center;

        a {
            color: white;
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;
            transition: color 0.4s;

            &:hover {
                color: $dark_color;
            }
        }
    }

    .vinyl {
        position: absolute;
        width: $vinyl_size + 10px;
        height: $vinyl_size + 10px;
        top: -$vinyl_size / 2 - 5px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        text-align: center;
        background: $mid_color;
        transition: top 0.4s;
        z-index: 12;

        &:hover {
            cursor: pointer;
            top: -$vinyl_size / 2 + $vinyl_size / 4 - 5px;
        }

        img {
            margin-top: 5px;
            width: $vinyl_size;
            height: $vinyl_size;
            animation: rotating 4s linear infinite;
        }
    }
}

.nav-in-header {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0 20px;
        transition: background 0.4s;
        float: right;

        a {
            display: inline-block;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            margin: $header_height / 2 - 10px 0;
            color: white;
            text-decoration: none;

            &::before {
                content: "";
                background: white;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -2px;
                height: 1px;
                transform: scaleX(0);
                transform-origin: 100%;
                transition: transform 0.3s;
            }
        }

        &:hover {
            cursor: pointer;
            background: $darker_color;

            a::before {
                transform: scaleX(1);
                transform-origin: 0;
            }
        }
    }
}

.search {
    box-sizing: border-box;
    position: relative;

    .query {
        width: 100%;
        height: 38px;
        background: $lighter_color;
        color: white;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 18px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 35px;
        border-radius: (18px + 20px) / 2;
        box-sizing: border-box;
        transition: width 0.6s;

        &::-ms-input-placeholder {
            color: $lightest_color;
        }

        &::placeholder {
            color: $lightest_color;
        }
    }

    .search-icon {
        width: 35px;
        height: 35px;
        position: absolute;
        background: transparent;
        border: none;
        outline: none;
        right: ($header_height - 18px - 20px) / 2;
        color: white;
        transition: color 0.4s;

        &:hover {
            cursor: pointer;
            color: $dark_color;
        }
    }
}

.search-in-header {
    flex: 220px 1 1;
    margin: 0 20px;
}

.search-in-burger {
    margin: 10px 15px;

    .query {
        background: $mid_color;
    }
}

.menu-button {
    display: none;
    position: absolute;
    right: 0;
    font-size: 32px;
    line-height: 32px;
    padding: ($header_height - 32px) / 2 - 1px;
    color: white;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $darker_color;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.3s;
    }

    &:hover {
        cursor: pointer;

        &::before {
            transform: scale(1);
        }
    }

    i::before {
        position: relative;
        z-index: 5;
    }
}

.burger-menu {
    display: none;
    background: $lighter_color;
    position: absolute;
    left: 0;
    right: 0;
    top: -234px;
    z-index: 2;
    padding-top: $vinyl_size / 2 - $header_height;
    transition: top 0.4s;
}

.burger-menu.opened {
    top: $header_height;
}

.nav-in-burger {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;

    li {
        display: block;
        padding: 5px 15px;
        position: relative;
        transition: background 0.4s;

        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            position: relative;

            &::before {
                content: "";
                background: white;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -2px;
                height: 1px;
                transform: scaleX(0);
                transform-origin: 100%;
                transition: transform 0.3s;
            }
        }

        &:hover {
            cursor: pointer;
            background: $mid_color;

            a::before {
                transform: scaleX(1);
                transform-origin: 0;
            }
        }
    }
}

.content {
    section {
        margin: $vinyl_size / 2 - $header_height + 5px + $vinyl_size / 4 0;
    }

    section:last-child {
        margin-bottom: 0;
    }
}

section.main-slider {
    background: $bg_color1;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0.3;
    }

    .swiper-container {
        width: 100%;
        height: 600px;

        .swiper-slide {
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

section.advantages {
    background: $bg_color1;
    padding: 20px 0;

    .main-wrapper {
        display: flex;
    }

    article {
        flex: 220px 1 1;
        margin: 15px 10px;
        background: $bg_color2;
        border-radius: 5px;
        position: relative;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        i {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 20px;
            padding: 15px;
            top: -25px;
            left: calc(50% - 25px);
            color: $light_color;
            background: $bg_color1;
            border-radius: 50%;
            border-top: none;

            &::before {
                animation: pulse 4s cubic-bezier(0.5, -0.5, 0.5, 1.5) infinite;
                display: block;
            }
        }

        &:nth-child(2) i::before {
            animation-delay: 0.25s;
        }

        &:nth-child(3) i::before {
            animation-delay: 0.5s;
        }

        &:nth-child(4) i::before {
            animation-delay: 0.75s;
        }

        p {
            color: $dark_text_color;
            margin: 35px 10px 20px 10px;
            text-align: center;
        }
    }
}

section.diagonal {
    background: $bg_color1;
    height: 400px;
    position: relative;

    .background {
        height: 100%;

        .dark,
        .img {
            height: 100%;
            float: left;
        }

        .dark {
            width: calc(50% - 150px);
            position: relative;
            background: $mid_color;

            &::after {
                content: "";
                position: absolute;
                z-index: 10;
                width: 200px;
                right: 0;
                top: 0;
                bottom: 0;
                background: $mid_color;
                transform: skewX(-10deg);
                transform-origin: bottom right;
            }
        }

        .img {
            width: calc(50% + 150px);
            background: $bg_color1;
            overflow: hidden;

            img {
                height: 150%;
                position: relative;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                mask-image: linear-gradient(to right, white, transparent);
                -webkit-mask-image: linear-gradient(to right, white, transparent);
            }
        }
    }

    .main-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;

        .content {
            width: calc(50% - 150px);
            height: 100%;
            box-sizing: border-box;
            color: white;
            text-align: center;
            padding: 10px;

            p {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                display: block;
                margin: 15px auto;
            }
        }
    }
}

section.images {
    background: $bg_color1;
    padding: 30px 0;

    .main-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        article {
            width: 30%;
            padding-top: 30%;
            background: $mid_color;
            position: relative;
            margin-bottom: m#{i}n(3.32vw, 43.16px);

            .image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: transform 0.4s;

                &:hover {
                    transform: translate(10px, -10px);
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    margin: 0;
                    padding: 30px;
                    font-size: 18px;
                    transform: translateY(-50%);
                    color: white;
                    text-align: center;
                    background: $dark_bg_color;
                    opacity: 0.8;
                    transition: opacity 0.4s;
                }
            }
        }
    }
}

footer {
    background: $mid_color;

    .wrapper {
        display: inline-block;
        position: relative;
        margin: 30px 0;
        left: 50%;
        transform: translateX(-50%);

        a {
            color: white;
            text-decoration: none;
            transition: color 0.4s;

            &:hover {
                color: $dark_color;
            }
        }

        h1 {
            display: inline-block;
        }

        .socials {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            font-size: 24px;
        }
    }
}

/*     Responsiveness     */

// Tablets
@media only screen and (max-width: 992px) {
    .nav-in-header,
    .search-in-header {
        display: none;
    }

    .burger-menu,
    .menu-button {
        display: block;
    }


    section.main-slider {
        .swiper-container {
            height: 350px;
        }
    }

    section.advantages {
        .main-wrapper {
            flex-wrap: wrap;
        }

        article {
            flex-basis: 310px;
        }
    }

    section.diagonal {
        .background {
            .dark {
                display: none;
            }
            .img {
                width: auto;
                float: none;

                img {
                    mask-image: none;
                    -webkit-mask-image: none;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .main-wrapper {
            .content {
                width: auto;
                background: $mid_color;
                opacity: 0.9;
            }
        }
    }

    section.images {
        .main-wrapper {
            article {
                width: 46.66%;
                padding-top: 46.66%;
            }
        }
    }
}

// Phones
@media only screen and (max-width: 600px) {
    .main-header {
        h1 {
            display: none;
        }
    }

    section.main-slider {
        .swiper-container {
            height: 250px;
        }
    }

    section.advantages {
        article {
            margin: 15px 0;
            border-radius: 0;
        }
    }

    section.images {
        .main-wrapper {
            article {
                width: 94%;
                padding-top: 94%;
            }
        }
    }
}
