


html, body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
}

#intro {
    min-height: 100vh;
    background: #ffffff;
}

.container {
    max-width: 953px;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
}

.swiper-container .swiper-slide {
    overflow: hidden;
}

.swiper-container .swiper-slide img {
    width: 100%;
    height: auto;
}

.phone_image {
    width: 99%;
    margin-left: 1px;
    display: none;
}

header {
    border-bottom: 1px solid #828282;
    align-items: bottom;
    margin-bottom: 40px;
}

.nav_ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 32px;
}

.nav_li {
    display: block;
    font-size: 0;
    position: relative;
}

.nav_h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #828282;
    padding: 0;
    padding: 15px 20px;
    position: relative;
    clip-path: inset(0 0 0 0 round 130px);
    transition: color .2s ease-in-out;
    z-index: 5;
}

.nav_a {
    text-decoration: none;
}

.nav_h3::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all .2s ease-in-out;
}

.nav_h3:hover {
    color: white;
}

.nav_h3:hover::before {
    background: #828282;
    transform: scaleY(1);
}

.description {
    display: flex;
    justify-content: space-between;
    
    align-items: flex-end;
    margin-bottom: 50px;
}

.black {
    color: #000;
}

#name-item {
    font-size: 47.3392px;
    font-weight: bold;
    margin: 0;
}

.btn {
    display: none;
}

.temp {
    font-size: 18px;
    font-weight: normal;
    width: 160px;
}

.change-lang {
    font-weight: bold;
    writing-mode: tb;
    transform: rotate(180deg);
    height: 80px;

}

.greey {
    color: #828282;
}

#about {
    height: 100vh;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.about-container {
    max-width: 485px;
    
}

.about-item-h3 {
    font-weight: normal;
    font-size: 18px;
    color: #070707;
}

.about-h3 {
    text-align: center;
    font-size: 18px;
}

.about-h1 {
    text-align: center;
    width: 155px;
    margin: 0 auto;
}

.about-item-h1 {
    font-weight: bold;
    font-size: 34px;
    color: #070707;
}

#skills {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
}

.skills-h1 {
    margin-bottom: 70px;
}

.skills-h3 {
    margin-bottom: 87px;
}

/*.program {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program-item {
    display: inline-block;
    flex-grow: 5;
    position: relative;
}*/

.program {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program-item {
    padding: 0 40px;
    display: inline-block;
    min-width: 170px;
    width: 15%;
    height: 206px;
    position: relative;
}

.program-item:last-child {
    margin-right: 0;
}

.program-item-stars {
    display: flex;
    justify-content: space-between;
}

.stars {
    display: inline;
}

.program-item-image {
    text-align: center;
}

.program-item-text {
    width: 90px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #828282;
    ;
    margin: 0 auto 40px auto;
}

.figma {
    margin-bottom: 55px;
}

#portfolio{
    background-color: #F6F6F6;
}

.portfolio-container {
    margin: 0 auto;
    max-width: 953px;
    padding-top: 30px;
    padding-bottom: 6px;
}

.portfolio-h1 {
    margin-bottom: 47px;
}

.portfolio-image {
    margin-bottom: 45px;
}

.portfolio-image-item {
    max-width: 100%;
}

.portfolio-h3 {
    text-align: center;
}

.portfolio-h3 h3 a:hover{
    color: #FF4644;
}

a {
    font-size: 18px;
    color: #070707;
    font-weight: normal;
}

.rueng {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.rueng:hover{
    color: rgb(214, 86, 86);
}

#contacts {
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts-container {
    max-width: 342px;
}

.contacts-item-h1 {
    font-size: 34px;
    color: #070707;
    margin-bottom: 20px;
    margin-top: 0;
}

.contacts-item-h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 29px;
}

.contacts-button {
    padding: 15px 20px;
    margin: 0 81px 80px 81px;
    border-radius: 50px;
    border: 1px solid black;
    position: relative;
    clip-path: inset(0 0 0 0 round 50px);
    transition: color .2s ease-in-out;
    z-index: 5;
}

.contacts-button::before {
    border-radius: 50px;
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: black;
    z-index: -1;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .2s ease-in-out;
}

.contacts-button:hover {
    color: black;
}

.contacts-button:hover::before {
    transform: scaleY(0);
}

.contacts-button-text {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 86px;
}

.contacts-image {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.contacts-item-h3-down {
    font-size: 14px;
    color: #828282;
}

.fp-tableCell:first-child {
    display: block;
}

.portfolio-image:first-child {
    padding-top: 50px;
}

i {
    color: black;
}

.click {
    align-self: flex-start;
    display: none;
    font-size: 34px;
}

#aft {
    justify-self: flex-end;
    transform: rotate(-45deg);
}

.fa-plus {
    color: #828282;
}
.ul-burger {
    flex-direction: column;
    font-size: 34px;
}

.menuBurger ul {
    margin: 0;
    padding: 0;

}
.li-burger{
    list-style: none;
}

.li-burger a {
    text-decoration: none;
}



.h3-burger {
    font-weight: bold;
    font-size: 32px;
    color: #828282;
}

#blc {
    color: #000;
}

.menu {
    height: 100%;
    width: 100%;
    
}

.menuBurger {
    margin: 0;
    padding: 1px;
    margin-right: 50px;
    height: calc(100% - 130px);
    width: 100%;
    display: none;
    cursor: pointer;
    background-color: #fff;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container-burger {
    height: 100%;
    width: calc(100% - 58px);
    display: none;
    position: absolute;
}




@media screen and (max-width: 1000px){
    .program-item {
        width: 25%;
        padding: 0 10%;
        margin-top: 40px;
    }
}


@media screen and (max-width: 620px){

    .menuBurger {
        display: flex;
    }
    .click {
        display: block;
    }

    .contacts-button {
        margin: 0 auto 80px auto;
    }

    #name-item { 
        width: 100%;
        display: flex;
        flex-grow: 5;
        align-items: flex-start;
        justify-content: space-between;
    }

    .phone_image {
        display: inline-block;
    }

    .container {
        padding: 65px 29px;
        max-width: 317px;
        position: relative;
    }

    .swiper-container {
        display: none;
    }

    .description {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    
     #ruen{
        align-self: flex-end;
        display: block;
        font-size: 34px;
        transform: rotate(180deg);
    } 

    .change-lang {
        display: none;
    }

    header {
        display: none;
    }

    .program {
        justify-content: center;
    }

    .skills-h3 {
        margin-bottom: 12px;
    }

    .skills-h1 {
        margin-bottom: 32px;
    }

    .program-item {
        width: 30%;
        margin-top: 40px;
    }
}